body{
    background-color: #E5E5E5;
}
.blue_team_message{
    font-family: 'Inter', sans-serif;;
    width: 1440px;
    display: flex;
    background: #0B2239;
    margin: 0px auto;
    font-size: 13px;
    

}
.blue_team_message>p{
    width: 920px;
    margin-left: 90px;
    color: #fff;
    
}
.blue_team_message>a{
    color: #4AD295;
    margin-top: 25px;
    margin-right: 15px;
}
.blue_team_message>button{
    background: #4AD295;
    color: #fff;
    width: 130px;
    height: 36px;
    border-radius: 8px;
    margin-top: 15px;
    cursor: pointer;
    border: none;
}




.dark_team_message{
    display: flex;
    max-width: 100%;
    width: 1440px;
    height: 52px;
    background: #2B2627;
    margin-top: 24px 0;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    line-height: 20px;
    color: #fff;
    margin: 20px auto;
}

.dark_team_message>p>a{
    color: #FFFFFF;
}

.dark_team_message>p{
    color: #FFFFFF;
    margin: 16px 20px 16px 8px;
    
    
    
    
}
.dark_team_message>img{
    position: center;
    width: 16px;
    height: 16px;
    left: 0px;
    top: 2px;
    margin-top: 18px;
    margin-bottom: 18px;
    cursor: pointer;
    
   
    
}

    
    
    












.white_message{
    border-radius: 8px;
    display: flex;
    width: 700px;
    background-color: #fff;
    margin: 10px auto;
    
}
.white_message>img{
    height: 40px;
    width: 40px;
    margin-top: 30px;
    margin-left: 80px;
}
    

.white_message>.buttonone{
    width: 63px;
    height: 28px;
    margin-top: 35px;
    border-radius: 8px;
    border-style: none;
    margin-left: 15px;
    cursor: pointer;
}
.white_message>.buttontwo{
    background: #EA4C89;
    width: 63px;
    height: 28px;
    margin-top: 35px;
    border-radius: 8px;
    border-style: none;
    margin-left: 10px;
    cursor: pointer;
}
.white_message>p>a{
    color: #ec2672;

}
.white_message>p{
    margin-top: 30px;
    margin-left: 10px;
    
}





.dark_message_part2{
    display: flex;
    width: 700px;
   
    background: #26262B;
    
    margin: 20px auto;
    border-radius: 8px;
    

}
.dark_message_part2>p{
    color: #fff;
    margin-left: 10px;
    margin-top: 30px;
    padding-right: 10px;
    
}
.dark_message_part2>p>a{
    color: #f18900;
    padding-right: 10px;
}
.dark_message_part2>button{
    width: 49px;
    height: 28px;
    border-radius: 8px;
    margin-top: 35px;
    margin-right: 15px;
    border: none;
    cursor: pointer;
    
}




.cookie_notice_message{
   font-family: 'Inter', sans-serif;;
   width: 360px;
   border-radius: 10px;
   background: #0B2239;
   
   color: #E5E5E5;
   margin: 10px auto;
   padding:24px;
}
.cookie_notice_message>h3{
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    line-height: 20px;
    margin-left: 24px;
    
}
.cookie_notice_message>p{
    margin-left: 24px;
    font-size: 14px;
    line-height: 20px;
}
.cookie_notice_message>a{
    margin-left: 24px;
    font-size: 14px;
    color: #E5E5E5;
}
.cookie_notice_message>button{
margin-left: 40px;
width: 85px;
height: 32px;
background: #09B3AF;
box-shadow: 0px 2px 2px -2px rgba(34, 38, 50, 0.3);
border-radius: 6px;
color: #fff;
border: none;
cursor: pointer;
}
.cookie_notice_message>p>a{
    color: #fff;
}




.cookie_settings_message{
    font-family: 'Inter', sans-serif;;
    width: 360px;
    
    background: #FFFFFF;
    border-radius: 16px;
    
    margin-top: 40px;
    margin: 20px auto;
    padding: 24px;
}
.cookie_settings_message>h3{
    color: #0F181D;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    margin-left: 24px;
    
}
.cookie_settings_message>p{
    margin-left: 10px;
    font-size: 14px;
    line-height: 20px;
}

.btnone{
    font-size: 16px;
    color: #687F8C;
    margin-left: 15px;
    border-radius: 8px;
    width: 160px;
    height: 32px;
    border: none;
    cursor: pointer;
}
.btntwo{
    background: #40c1a7;
    border-radius: 8px;
    width: 160px;
    height: 32px;
    border: none;
    cursor: pointer;
}






.cookies_message{
    font-family: 'Inter', sans-serif;;
    width: 320px; 
    background: #FFFFFF;
    border-radius: 16px;
    margin-top: 40px;
    margin: 40px auto;
    padding: 32px;

}
.cookies_message>h2{
    margin-bottom: 20px;
    color: #15295A;
    text-align: center;
}

}
.cookies_message>p{
    margin-top: 55px;
    margin-left: 25px;
    color: #15295A;
    font-size: 16px;
    text-align: center;

}
.cookies_message>button{
    margin-left: 100px;
    margin-top: 50px;
    background: #4A7EFF;
    color: #FFFFFF;
    border-radius: 10px;
    width: 121px; 
    height: 44px;
    border: none;
    cursor: pointer;
}





.privacy_polisy_message{
    font-family: 'Inter', sans-serif;;
    width: 260px;
    
    background: #FFFFFF;
    border-radius: none;
    
    margin-top: 40px;
    margin: 20px auto;
    padding: 16px;
}

.privacy_polisy_message>p{
    margin: 20px;
    margin-top: 35px;
    text-align: center;
    
   
    
}
.privacy_polisy_message>a{
    margin-left: 40px;
    text-decoration: none;
   
}
.privacy_polisy_message>button{
    background: #6666FF;
    border-radius: 10px;
    width: 64px;
    height: 33px;
    margin-left: 15px;
    border: none;
    color: #E5E5E5;
    cursor: pointer;
}



    


